<launch>
  <!-- argument -->
  <arg name="model" default="$(find dream_walker_description)/robots/dream_walker.urdf.xacro"/>
  <arg name="gui" default="true" />

  <!-- parameters -->
  <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'"/>
  <param name="use_gui" value="$(arg gui)"/>

  <!-- nodes -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find dream_walker_description)/launch/config/dream_walker_description.rviz"/>
</launch>
